!!! 5
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='generator', content='HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org')
    title
    meta(http-equiv='Content-Type', content='text/html; charset=us-ascii')
    //if gte mso 9
      style(_tmplitem='50')
        .article-content ol, .article-content ul {
        margin: 0 0 0 24px;
        padding: 0;
        list-style-position: inside;
        }
  body
    table#background-table(width='100%', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(align='center', bgcolor='#ECECEC')
            table.w640(style='margin: 0 10px;', width='640', cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td.w640(width='640', height='20')
                tr
                  td.w640(width='640')
                    table#top-bar.w640(width='640', cellpadding='0', cellspacing='0', border='0', bgcolor='#4A706C')
                      tbody
                        tr
                          td.w15(width='15')
                          td.w325(width='350', valign='middle', align='left')
                            table.w325(width='350', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.w325(width='350', height='8')
                            .header-content
                              a(href='#') Web Version
                              span.hide
                                | |
                                a(href='#')
                                  | Update
                                  | preferences
                                | |
                                a(href='#') Unsubscribe
                            table.w325(width='350', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.w325(width='350', height='8')
                          td.w30(width='30')
                          td.w255(width='255', valign='middle', align='right')
                            table.w255(width='255', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.w255(width='255', height='8')
                            table(cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(valign='middle')
                                    img(src='http://easymon.topcs.it/img/email/sfs_icon_facebook.png', border='0', width='16', height='16', alt='Facebook icon')
                                  td(width='3')
                                  td(valign='middle')
                                    .header-content
                                      a(href='#') Like
                                  td.w10(width='10')
                                  td(valign='middle')
                                    img(src='http://easymon.topcs.it/img/email/sfs_icon_twitter.png', border='0', width='16', height='16', alt='Twitter icon')
                                  td(width='3')
                                  td(valign='middle')
                                    .header-content
                                      a(href='#') Tweet
                                  td.w10(width='10')
                                  td(valign='middle')
                                    img(src='http://easymon.topcs.it/img/email/sfs_icon_forward.png', border='0', width='16', height='16', alt='Forward icon')
                                  td(width='3')
                                  td(valign='middle')
                                    .header-content
                                      a(href='#') Forward
                            table.w255(width='255', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.w255(width='255', height='8')
                          td.w15(width='15')
                tr
                  td#header.w640(width='640', align='center', bgcolor='#4A706C')
                    div(align='left', style='text-align: left;')
                      a(href='http://beonebee.com')
                        img#customHeaderImage.w640(label='Header Image', editable='true', width='640', src='http://easymon.topcs.it/img/email/beonebee_orig.png', border='0', align='top', style='display: inline;')
                tr#twocolumn-content-row
                  td.w640(width='640')
                    table.w640(width='640', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td.w15(width='15', bgcolor='#F0F1F2')
                          td#left-sidebar.w140(width='140', bgcolor='#F0F1F2', valign='top', align='left')
                            table.w140(width='140', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.w140(width='140', height='15')
                                tr
                                  td.w140(width='140')
                                    p.toc-heading(align='left')
                                      | TABLE OF
                                      | CONTENTS
                                    table(cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr
                                          td(width='3')
                                          td(valign='top')
                                            p.toc-item(align='left') •
                                          td(width='6')
                                          td(valign='top')
                                            p.toc-item(align='left')
                                              strong
                                                | Blah
                                                | Blah
                                        tr
                                          td(width='3')
                                          td(valign='top')
                                            p.toc-item(align='left') •
                                          td(width='6')
                                          td(valign='top')
                                            p.toc-item(align='left')
                                              strong
                                                | Blah
                                                | Blah
                                tr
                                  td.w140(width='140', height='15')
                            table.w140(width='140', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.w140(width='140', height='15')
                                tr
                                  td.w140(width='140')
                                    .left-column-heading(align='left')
                                      | IN OTHER NEWS
                            table.w140(width='140', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.w140(width='140', height='15')
                                tr
                                  td.w140(width='140')
                                    p.left-column-subhead(align='left')
                                      | Text
                                      | only
                                    .left-column-content(align='left')
                                      | Enter your description
                            table.w140(width='140', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.w140(width='140', height='15')
                                tr
                                  td.w140(width='140')
                                    p.left-column-subhead(align='left')
                                      | Text with
                                      | image
                                tr
                                  td.w140(width='140')
                                    img.w140(label='Image', width='140', border='0', src='http://easymon.topcs.it/img/email/140x84_fill.gif')
                                tr
                                  td.w140(width='140', height='15')
                                tr
                                  td.w140(width='140')
                                    .left-column-content(align='left')
                                      | Enter your description
                          td.w15(width='15', bgcolor='#F0F1F2')
                          td.w470(width='470', bgcolor='#FFFFFF', valign='top')
                            table.w470(width='470', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.w470(width='470', height='30')
                            table.w470(width='470', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.w30(width='30')
                                  td.w410(width='410')
                                    table.w410(width='410', cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr
                                          td.w410(width='410')
                                            p.article-title(align='left')
                                              | Text
                                              | only
                                            .article-content(align='left')
                                              | Enter your description
                                        tr
                                          td.w410(width='410', height='10')
                                    table.w410(width='410', cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr
                                          td.w410(width='410')
                                            p.article-title(align='left')
                                              | Text with
                                              | full-width image
                                        tr
                                          td.w410(width='410')
                                            img.w410(label='Image', width='410', border='0', src='http://easymon.topcs.it/img/email/410x246_fill.gif')
                                        tr
                                          td.w410(width='410', height='15')
                                        tr
                                          td.w410(width='410')
                                            .article-content(align='left')
                                              | Enter your description
                                        tr
                                          td.w410(width='410', height='10')
                                    table.w410(width='410', cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr
                                          td.w410(width='410')
                                            p.article-title(align='left')
                                              | Text with
                                              | right-aligned image
                                            table(cellpadding='0', cellspacing='0', border='0', align='right')
                                              tbody
                                                tr
                                                  td.w30(width='15')
                                                  td
                                                    img.w220(label='Image', width='220', border='0', src='http://easymon.topcs.it/img/email/220x132_fill.gif')
                                                tr
                                                  td.w30(width='15', height='5')
                                                  td
                                            .article-content(align='left')
                                              | Enter your description
                                        tr
                                          td.w410(width='410', height='10')
                                    table.w410(width='410', cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr
                                          td.w410(width='410')
                                            p.article-title(align='left')
                                              | Text with
                                              | left-aligned image
                                            table(cellpadding='0', cellspacing='0', border='0', align='left')
                                              tbody
                                                tr
                                                  td
                                                    img.w220(label='Image', width='220', border='0', src='http://easymon.topcs.it/img/email/220x132_fill.gif')
                                                  td.w30(width='15')
                                                tr
                                                  td
                                                  td.w30(width='15', height='5')
                                            .article-content(align='left')
                                              | Enter your description
                                        tr
                                          td.w410(width='410', height='10')
                                    table.w410(width='410', cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr
                                          td.w195(width='195', valign='top')
                                            table.w195(width='195', cellpadding='0', cellspacing='0', border='0')
                                              tbody
                                                tr
                                                  td.w195(width='195')
                                                    img.w195(label='Image', width='195', border='0', src='http://easymon.topcs.it/img/email/195x117_fill.gif')
                                                tr
                                                  td.w195(width='195', height='10')
                                                tr
                                                  td.w195(width='195')
                                                    .article-content(align='left')
                                                      | Enter your description
                                                tr
                                                  td.w195(width='195', height='10')
                                          td(width='20')
                                          td.w195(width='195', valign='top')
                                            table.w195(width='195', cellpadding='0', cellspacing='0', border='0')
                                              tbody
                                                tr
                                                  td.w195(width='195')
                                                    img.w195(label='Image', width='195', border='0', src='http://easymon.topcs.it/img/email/195x117_fill.gif')
                                                tr
                                                  td.w195(width='195', height='10')
                                                tr
                                                  td.w195(width='195')
                                                    .article-content(align='left')
                                                      | Enter your description
                                                tr
                                                  td.w195(width='195', height='10')
                                  td.w30(width='30')
                tr
                  td.w640(width='640')
                    table.w640(width='640', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td.w170(width='170', bgcolor='#F0F1F2', height='15')
                          td.w470(width='470', bgcolor='#FFFFFF', height='15')
                tr
                  td.w640(width='640')
                    table#footer.w640(width='640', cellpadding='0', cellspacing='0', border='0', bgcolor='#4B4C44')
                      tbody
                        tr
                          td.w30(width='30')
                          td.w580.h0(width='360', height='30')
                          td.w0(width='60')
                          td.w0(width='160')
                          td.w30(width='30')
                        tr
                          td.w30(width='30')
                          td.w580(width='360', valign='top')
                            p#permission-reminder.footer-content-left(align='left')
                              span.hide
                                span
                                  | You're receiving
                                  | this because you subscribed from our website
                            p.footer-content-left(align='left')
                              | Edit your
                              | subscription | Unsubscribe
                          td.hide.w0(width='60')
                          td.hide.w0(width='160', valign='top')
                            p#street-address.footer-content-right(align='right')
                              span
                                | BeOneBee ® Inc
                                | 2012
                              br
                              span Piazza Stamazza, 23, Rome Italy
                          td.w30(width='30')
                        tr
                          td.w30(width='30')
                          td.w580.h0(width='360', height='15')
                          td.w0(width='60')
                          td.w0(width='160')
                          td.w30(width='30')
                tr
                  td.w640(width='640', height='60')
